#shortcutMenu {
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid #c2c2c2;
  padding-bottom: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  z-index: 10000;
  display: none;
  border-radius: 10px;
  min-width: 250px;
  touch-action: manipulation;
  cursor: default;
}

#shortcutMenuHeader {
  border-radius: 10px 10px 0 0;
  height: 30px;
  background: linear-gradient(#e8e8e8, #d2d2d2);
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 12px;
}

#shortcutMenuContent ul {
  list-style: none;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

#shortcutMenuContent li {
  padding: 2px 12px;
}

#shortcutMenuContent li:hover {
  background-color: #007bff;
  color: #ffffff;
}

#shortcutMenuContent strong {
  padding-left: 12px;
}

#canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: progress;
  background-image: url("data:image/webp;base64,UklGRnACAABXRUJQVlA4IGQCAADQEQCdASpgAGAAPp1EnEklpzIxK5drIkATiWQGcGSAIA4Td1L0/KAkW+o3D/P/k5+IUNn4T9FpsRalQTuzWWFSrp4+VjYDfTms+IObM9mRgYNFFoFe7j5oF/NHnPh3lEFNBc7APwxxvrldn2xahKXJVPbn/KEfOGLFRULopwfA5vxx15+75jU3TS6SjEqEeVFpVqbTXdoAAP7vcX2T/5IYmetn/WnukJHw9mh1SLszUfqGeDEaSJzwyP4K1Va9BX+xeKoCFVeo9L4Dllg7C8h7/fH9fMXz2E8uX28LmER43p1d//2ktmtF/P//dhIs3vkwCpMBa5r+lkhfB/2UobiH1KXtw9xf8dmULI5vNO0wIcXKb2OLhnxH9rXPyNnAjqYMqamG7nYIDatY7aqvYaLop+oDennQW9wcAGv/wtON3eoBrLgyAJC8oEGv/9EQMrx2RNCqezErYlUOXh0kcCzFH6rbMGGLKNK7O0SKBaQZ+BOfCk2wwwjGtAnG1cnX3OSMMGl8TzvsbX3Z5oDwQJ9tJzyNHt8J3VQhk3hCy2DFe0YrAsjtdsIiktN6b9CVpcCC0/DWX33JMIuPUsuFszAGX4k7m0MaV+n475vz021LHB4JzFEcb9f44gy0qg9hdfm1yrJ+6MANnNBp/u6+O45pkpbrm+9fP5whqsBJXVBJJhTCZ8ujs/jwU99QrpJQQsNwQ82S+IdgVxFPxZ1id/6JYx1vvSY0tyb78fp2ALVpn8Eb5kHmeJr1jErAmApq3a9HUsx6MoMJmL92Je83h501WXn3MshjCOI4BygAAA3P0NQAAAA="); /* Show a 96px preview of bigsur until script.js swaps in the full image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-image 0.1s ease;
}

.loader {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 50%;
  border-color: transparent;
  animation: loader 50s linear infinite;
  display: inline-block;
}

@keyframes loader {
  1% {
    border-color: transparent;
    transform: rotate(0deg);
  }

  2% {
    border-color: transparent #888888;
  }

  100% {
    transform: rotate(9000deg);
  }
}
